// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

ul {
  list-style: none;

  li {
    width: 200px;
  }

  span {
    float: right;
    cursor: pointer;
  }

  .remove_item {
    color: red;
  }
}

.clear {
  clear: both;
}